<%- include("header") -%>

<h1>What about me?</h1>

<p>I was in the navy. Served in the D company. Boy I tell ya it wasn't nice! Melting heat.. local wars.. it was hell but it was something to do..</p>

<%- include('footer') -%>